<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<header>
  <% include ./partials/_header %>
</header>
   <h1>URL BY ID</h1>
    <ul>
        <li>ShortURL: <%= shortURL %></li>
        <li>FullURL: <%= longURL %></li>
    </ul>
</body>
</html>